.paragraph--type--bp-modal {
  padding: .625rem;
}

.paragraph--type--bp-modal .btn.btn-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal .modal-header {
  padding: .9375rem calc(1.3125rem + .75vw);
}

@media (min-width: 1200px) {
  .modal .modal-header {
    padding: .9375rem 1.875rem;
  }
}

.modal .modal-title {
  font-weight: bold;
}

.modal .modal-footer {
  text-align: left;
}

.modal .modal-body .paragraph,
.modal .modal-footer .paragraph {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  position: initial;
  padding: .9375rem calc(1.3125rem + .75vw) .9375rem calc(1.3125rem + .75vw);
}

@media (min-width: 1200px) {
  .modal .modal-body .paragraph,
  .modal .modal-footer .paragraph {
    padding: .9375rem 1.875rem .9375rem 1.875rem;
  }
}
