.paragraph {
  margin-left: 0;
  margin-right: 0;
}

.paragraph > .paragraph__column {
  padding-bottom: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .paragraph > .paragraph__column {
    padding-bottom: 4rem;
  }
}

.paragraph > .paragraph__column .paragraph > .paragraph__column {
  float: none;
}

.paragraph > .paragraph__column .paragraph > .paragraph__column .paragraph > .paragraph__column {
  float: none;
}

.paragraph > .paragraph__column div > .paragraph {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  left: 0;
  right: 0;
}

.paragraph > .paragraph__column > .tab-content > .tab-pane > .paragraph {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  left: 0;
  right: 0;
}

.paragraph .paragraph .bg-edge2edge,
 .paragraph .paragraph.bg-edge2edge {
  position: initial;
  right: 0 !important;
  left: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
  margin: 0;
}

.paragraph .paragraph .paragraph {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  position: initial;
}

.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__5col {
  position: relative;
  min-height: 1px;
  padding-left: .9375rem;
  padding-right: .9375rem;
}

@media (min-width: 768px) {
  .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__5col {
    float: left;
    width: 20%;
  }
}

.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__6col {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 768px) {
  .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__6col {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}

.paragraph__column {
  padding: 0 calc(1.28125rem + .375vw);
}

@media (min-width: 1200px) {
  .paragraph__column {
    padding: 0 1.5625rem;
  }
}

.paragraph--type--bp-carousel .paragraph:last-of-type > .paragraph__column {
  padding-bottom: 0;
}

.paragraph--type--bp-columns .paragraph:last-of-type > .paragraph__column {
  padding-bottom: 0;
}

.paragraph--type--bp-columns-three-uneven .paragraph > .paragraph__column {
  padding-bottom: 0;
}

.paragraph--type--bp-tabs .paragraph:last-of-type > .paragraph__column {
  padding-bottom: 0;
}

.modal .modal-body .paragraph {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  position: initial;
}

.modal .modal-footer .paragraph {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  position: initial;
}

.paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow > .paragraph__column {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 768px) {
  .paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow > .paragraph__column {
    flex: 0 0 auto;
    width: 50%;
    margin-left: 25%;
  }
}

@media (min-width: 992px) {
  .paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow > .paragraph__column {
    flex: 0 0 auto;
    width: 50%;
    margin-left: 25%;
  }
}

@media (min-width: 1200px) {
  .paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow > .paragraph__column {
    flex: 0 0 auto;
    width: 50%;
    margin-left: 25%;
  }
}

.background-style {
  background-size: cover;
  background-repeat: no-repeat;
}
