// Varbase Bootstrap Paragraphs Text and Image
// -----------------------------------------------------------------------------
@import "../../../scss/defaults";   // Global defaults.

.row {
  margin-bottom: 0 !important;
}

@media screen and (min-width: map-get($grid-breakpoints, "xl")) {
  .align2right {
    float: right !important;
  }
  .align2left {
    float: left !important;
  }
  .paragraph.paragraph--type--text-and-image .row{
    display: flex;
  }
  .align2left.wrapper {
    @include padding-left(2.1875rem);
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "xl")) {
  .paragraph--type--text-and-image {
    @include margin-bottom(1.25rem);
    text-align: center;
  }
  .paragraph--type--text-and-image > .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.wrapper {
  display: table;
  height: 100%;
  text-align: left;
}

.wrapper > div {
	display: table-cell;
  vertical-align: middle;
}